<div class="panel panel-default">
  <div class="panel-body">
    <form id="document-edit" #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12 form-group" style="display: none;">
          <label for="id">Id</label>
          <input type="text" id="id" class="form-control" size="120" max="120" [ngModel]="originalDocument?.id" 
            #id="ngModel" name="id" required>
        </div>
        <div class="col-sm-12 form-group">
          <label for="name">Document title</label>
          <input type="text" id="name" class="form-control" size="120" max="120" [ngModel]="originalDocument?.name" 
            #name="ngModel" name="name" required>
        </div>
        <div class="col-sm-12 form-group">
          <label for="description">Document description</label>
          <input type="text" id="description" class="form-control" size="120" max="255"
            [ngModel]="document?.description" name="description">
        </div>
        <div class="col-sm-12 form-group">
          <label for="documentUrl">Document URL</label>
          <input type="text" id="documentUrl" class="form-control" size="150" max="255" [ngModel]="originalDocument?.url"
            name="url" #url="ngModel" required>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="(!name.valid || !url.valid) && (name.touched || url.touched)">
        The Document title and URL are required fields.</div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!name.valid || !url.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>