<div class="panel panel-default">
    <div class="panel-heading">
      <h2></h2>
      <div class="row">
        <div class="col-xs-12">
            <h2>{{contact.name}}</h2>
            <div class="pull-left"><img class="img-responsive" src="{{contact.imageUrl}}" alt=""></div>
            <span class="pull-right btn-toolbar" style="margin-top: 35px;">
              <a class="btn btn-primary" routerLink="edit">Edit</a>
              <a class="btn btn-danger" (click)="onDelete()">Delete</a>
          </span>
        </div>
    </div>
     
    </div>
    <div class="panel-body">
      <p>Email: {{contact.email}}</p>
      <p>Phone: {{contact.phone}}</p>
    </div>
  </div>